.u-center-text {
	text-align: center !important;
}

.u-around {
	margin: 1rem;
	padding: 1rem;
}

.u-margin-around {
	margin: 1rem;
}

.u-padding-around {
	padding: 1rem;
}

.u-border-radius {
	border-radius: 0.4rem;
}
