.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 2rem;
        display: inline-block;
        border-radius: .2rem;
        font-size: $default-font-size;
        /* Transition property has to be in the initial state */
        transition: all .2s;
        position: relative;

        //Change for teh <button> element
        border: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    /* Transalte always change in relation to the original state. NOT the hover state like is first applied here */
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &--selected {
        background-color: $color-primary-dark;
    }
}